@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-pretendard);
  --font-mono: var(--font-pretendard);
  --color-accent: oklch(0.609 0.126 221.723);
  --color-accent-strong: oklch(0.52 0.105 223.128);
}

body {
  @apply bg-gray-50 text-gray-900 font-sans tracking-tight;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 400ms ease-out forwards;
}

.fade-out {
  animation: fadeOut 400ms ease-out forwards;
}
